.gallery{
  background-color: rgba(167, 161, 161, 0.652);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.title{
  text-align: center;
}

.title h1{
  color: rgb(64, 119, 167);
}

.images{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.images img{
  width: 350px;
  margin: 20px;
  border-radius: 10px;
}



